<% var account;account=account||false; %>

<% if(!account) { %>
	
	<h1>Can't find <%=title%></h1>
	
	<h2>:-/</h2>
	
<% } else { 
	account.name = account.name || {};
%>
	
	<h6>User account</h6>
	
	<h1><%= ( account.username || account._id ) %></h1>
	
	
	<% if(user && user.admin && !account.admin) { %>
	
		<button onclick="ApiCall('/api/account/makeAdmin/<%=account._id%>');$(this).remove();"
		class="btn btn-mini btn-success pull-right">
		make admin</button>
		
	
	<% } else if(user && user.admin) { %>
	
		
		<button onclick="ApiCall('/api/account/unmakeAdmin/<%=account._id%>');$(this).remove();"
		class="btn btn-mini btn-warning pull-right">
		unmake admin</button>
		
	<% } %>
	
	<h5><%=account._id%></h5>
	<h4>
		<%=(account.name.familyName||"")%>
		<%=(account.name.middleName||"")%>
		<%=(account.name.givenName||"")%>
	</h4>
	<h5>last seen <%=account.lastLogin%></h5>
	<a href="/byuserid/<%=account._id%>" class="btn btn-success"><%=account.username%>'s apps</a>
	
	<% if(user && user._id.toString() == account._id.toString()) { %>
	<div class="well">
		<form method="post" action="/account/update">
		<h3>update account info</h3>
		
		<input name="_id" type="hidden" value="<%=account._id%>" />
		
		<label>username</label>
		<input name="username" type="text" value="<%=account.username%>" />
		
		
		<label>email</label>
		<input name="email" type="text" value="<%=account.email%>" />
		
		
		<label>first name</label>
		<input name="givenName" type="text" value="<%=account.name.givenName%>" />
		
		<label>middle name</label>
		<input name="middleName" type="text" value="<%=account.name.middleName%>" />
		
		
		<label>last name</label>
		<input name="familyName" type="text" value="<%=account.name.familyName%>" />
		
		<% if(account.provider=='local') { %>
		
		<label>password</label>
		<span class="help-block">leave blank or it will be changed</span>
		<input name="password" placeholder="password" type="password" value="" /><br />
		<input name="confirmPassword" placeholder="confirm" type="password" value="" />
		
		<% } %>
		
		<br />
		
		<button type="submit" class="btn btn-primary">
			submit changes
			
			<i class="icon-chevron-right icon-white"></i>
			
		</button>
		
		</form>
	</div>
	<%  } %>
<% } %>
