<% var account;account=account||false; %>

<% if(!account) { %>
	
<h1>Can't find <%=title%></h1>
	
<h2>:-/</h2>
	
<% } else { 

	// just so it doesnt break stuff
	account.name = account.name || {};
%>
	
<h6>betasac account</h6>
	
<div class="row-fluid">
<div class="span5">
	<h1 class="skinny">
		<%= ( account.username || account._id ) %>
	
		<a href="/apps/<%=account.username%>" class="btn btn-success">apps</a>
	</h1>
	<span class="help-block"><%=account._id%></span>
	<h5 class="help-block">last seen <%=account.lastLogin%></h5>
	
	<h4 class="skinny">
		<%=(account.name.givenName||"")%>
		<%=(account.name.middleName||"")%>
		<%=(account.name.familyName||"")%>
	</h4>
	<% if(user && (user.admin || user._id.toString() == account._id.toString() ) ) { %>
	
	<h4><%=account.email%> <span class="help-block" style="display:inline-block">[not public]</span></h4>
	
	<button onclick="$(this).next('div').show();$(this).remove();"
		class="btn">
		update account info
		<i class="icon-chevron-down"></i>
	</button>
	<div class="well hide">
		<form method="post" action="/account/update">
		<h3>update account info</h3>
		
		<input name="_id" type="hidden" value="<%=account._id%>" />
		
		<label>username</label>
		<input name="username" type="text" value="<%=account.username%>" />
		
		
		<label>email</label>
		<input name="email" type="text" value="<%=account.email%>" />
		
		
		<label>first name</label>
		<input name="givenName" type="text" value="<%=(account.name.givenName||"")%>" />
		
		<label>middle name</label>
		<input name="middleName" type="text" value="<%=(account.name.middleName||"")%>" />
		
		
		<label>last name</label>
		<input name="familyName" type="text" value="<%=(account.name.familyName||"")%>" />
		
		<label>profile description</label>
		<span class="help-block">some html is ok</span>
		<textarea name="description"><%=sanitize(account.description||"")%></textarea>
		
		<% if(account.provider=='local') { %>
		
		<label>password</label>
		<span class="help-block">leave blank or it will be changed</span>
		<input name="password" placeholder="password" type="password" value="" /><br />
		<input name="confirmPassword" placeholder="confirm" type="password" value="" />
		
		<% } %>
		
		<br />
		
		<button type="submit" class="btn btn-primary">
			submit changes
			
			<i class="icon-chevron-right icon-white"></i>
			
		</button>
		
		</form>
		
		
	</div>
	
	
	<br />
	<br />
	
	<% if(user && (user.admin || user._id.toString() == account._id.toString() ) ) { %>
		
	<button onclick="$(this).next('div.well').show();$(this).remove();" class="btn">
		more <i class="icon-chevron-down"></i>
	</button>
	
	<div class="well hide">
		<% if(user.admin && !account.admin) { %>
	
			<button onclick="ApiCall('/api/account/makeAdmin/<%=account._id%>');$(this).remove();"
			class="btn btn-primary pull-right">
				make admin
				&nbsp;
				<i class="icon-ok-sign"></i>
			</button>
			
		
		<% } else if(user.admin) { %>
		
			
			<button onclick="ApiCall('/api/account/unmakeAdmin/<%=account._id%>');$(this).remove();"
			class="btn btn-warning">
				unmake admin
				&nbsp;<i class="icon-remove-sign icon-white"></i>
			</button>
			
		<% } %>
		<button 
		onclick="var c=confirm('really? impossible to undo.');if(c){ApiCall('/api/account/kill/<%=account._id%>');$(this).parent().remove();}"
		class="btn btn-danger">DELETE ACCOUNT&nbsp;<i class='icon-remove icon-white'></i></button>
	</div>
	
			
	<% } %>
	
	
	<% } %>
</div>
<div class="span7">
	<div>
		<%-sanitize(account.description||"")%>
	</div>
</div>
</div>
	
	
	
	
<% } %>
