<%
	var a;a=a||{};
	
	var editMode = !!a._id;
	
	var testOther = typeof(a.test_type)!='undefined' && ['alpha','beta'].indexOf(a.test_type)==-1
		? a.test_type : "";
%>
<script>
function CheckTestType() {
	if($('#test_type_other').is(':selected'))
	{
		$('#text_other').show();
	}
	else{
		$('#text_other').hide().val('');
	}
}

function RemoveItemPost(item_id) {
	ApiCall('/api/item/kill/'+item_id, function(){
		window.open('/byuserid/<%=user._id%>?message=Successfully%20deleted','_self');
	});
}

$(function(){
	
	$('select#test_type').change( CheckTestType );
	CheckTestType();
});
</script>


<% if(editMode) { %>
	
	<button onclick="var c=confirm('Really delete?');c&&RemoveItemPost('<%=a._id%>');" 
		class="btn btn-danger pull-right">
		DELETE THIS APP
	</button>
	
<% } %>
<br />

<form method="post" action="/item/create">
	
	<%
		if( editMode )
		{
	%>
			<h1>editing <%=a.title%></h1>
			<input type="hidden" value="<%=a._id%>" name="_id" />
	<%	}
		else {
	%>
			<h1>new post</h1>
	<%	
		}
	%>
	
	
	<label>test type</label>
	<select name="test_type" id="test_type">
		
		<option value="alpha"<%=(a.test_type=="alpha"?" selected":"")%>>
			Alpha</option>
			
		<option value="beta"<%=(a.test_type=="beta"?" selected":"")%>>
			Beta</option>
		
		<option value="" 
		id="test_type_other" <%=(testOther?" selected":"")%>>Other</option>
	</select>
	<input type="text" name="test_type" id="text_other" value="<%=testOther%>" />
	
	<label>title</label>
	<input type="text" name="title" value="<%=(a.title||"")%>" />
	
	<label>description</label>
	<textarea name="description"><%=(a.description||"")%></textarea>
	
	<label>website</label>
	<input type="text" name="website" value="<%=(a.website||"")%>" />
	
	<label>image link</label>
	<input type="text" name="image" value="<%=(a.image||"")%>" />
	
	<label>beta start date</label>
	<input type="text" name="start_date" value="<%=(a.start_date||"")%>" />
	
	<label>beta end date</label>
	<input type="text" name="end_date" value="<%=(a.end_date||"")%>" />
	
	<label>genres / tags</label>
	<span class="help-block">separate with a comma</span>
	<input type="text" name="genre" value="<%=(a.genre||"")%>" />
	
	<label>contact info</label>
	<input type="text" name="contact" value="<%=(a.contact||"")%>" />
	
	
	<br />
	<button type="submit" class="btn btn-primary btn-large">
		post
	</button>
</form>


