<% if( !item ) { %>

	<h1>Either that beta does not exist, or was removed.</h1>

<% } else { %>


<script>
function report(v) {
	$.ajax({
		type: 'post',
		url: '/api/item/report/<%=item._id%>',
		success: ApiSuccess,
		dataType: 'json',
		data: {
			text: v
		}
	});
}

$(function(){

	ApiCall('/account/<%=item.account_id%>?/json/', function(data) {
		if(data.account) 
		{
			$('#acct_<%=item.account_id%>').append(data.account.username);
		}
	});
	
	$('#reportit').click(function(){
		report($('#txt').val());
		$(this).parent().remove();
		$('#btnrep').remove();
	});
});
</script>

<% if( +new Date() > +new Date(item.end_date) ) { %>
	<div class="alert alert-warning">This test ended 
		<%=item.end_date%></div>
<% } %>

	<%
		switch(item.test_type) 
		{
			case "alpha":
	%>			<span class="label label-important pull-right">Alpha Test</span>
			
	<%		break;
			
			case "beta":	
	%>			<span class="label label-info pull-right">Beta Test</span>
	
	<%		break;
			
			default:
	%>
			<span class="label label-inverse pull-right"><%=item.test_type%> Test</span>
	<%
			
		}
	%>
	
	<h1 style="text-align:center;"><img src="<%=item.image%>" /></h1>
	
	<h1>
		<%=item.title%>
		&nbsp;&nbsp;
		<a class="btn" id="acct_<%=item.account_id%>" 
			href="/account/<%=item.account_id%>">
		<i class="icon-user"></i>&nbsp;
		&nbsp;</a>
		
		<%
			if(item.account_id && user && user._id
				&& item.account_id.toString() == user._id.toString())
			{
		%>
			<a class="btn" href="/item/edit/<%=item._id%>">
				<i class="icon-edit"></i>&nbsp;Edit</a>
			
		<%	}
		%>
	</h1>
	
	
	<h4><%=item.start_date.toFormat('DDD YYYY-MM-DD H:MI P')%> 
		<br /><%=item.end_date.toFormat('DDD YYYY-MM-DD H:MI P')%></h4>

	<div class="well">
		<h5>info</h5><%=item.description%></div>
	
	<div class="row-fluid">
	<div class="span6"><div class="well">
		<h5>contact</h5>
		<% if(item.contact && item.contact.indexOf('@')>-1) { %>
			<a href="mailto:<%=encodeURIComponent(item.contact)%>">
			<%=item.contact%>
			</a>
			
		<% } else if (item.contact) { %>
		
			<%=item.contact%>
			
		<% } else { %>
			none
		<% } %>
	</div></div>
	<div class="span6"><div class="well">
		<h5>website</h5>
		<a target="_blank" href="/redir/<%=encodeURIComponent(item.website)%>/<%=item._id%>">
		<%=item.website%></a>
	</div></div>
	</div>

	<div class="well">
	<h5>genre</h5>
	<h4>
	<%  for(var i=0; i<item.genre.length; i++) { %>
		
		<a href="/genre/<%=encodeURIComponent(item.genre[i])%>">
			<%=item.genre[i]%></a>
		&nbsp;
		
	<% 	} %>
	</h4>
	</div>
	
	<button class="btn" id="btnrep" onclick="$(this).next().toggle();">report</button>
	<div class="hide">
	
		<textarea id="txt"></textarea>
		<button class="btn btn-warning" id="reportit">submit</button>
	</div>
<% } %>

