<%var items;items=items||[];now=+new Date();%>

<% if(title) { %>

<h1><%=title%></h1>

<% } %>

<br />

<% if(items.length==0) { %>
	
	<h2>no apps!</h2>
	
<% } %>



<% 	var g=0, 
		col1 = Math.floor(items.length/3)
		col2 = col1*2 +1;
%>

<div class="row-fluid">
<div class="span4">
<form class="form-search" method="get" action=""
	onsubmit="if($('#genre-query').val().length>0){$(this).attr('action','/genre/'+$('#genre-query').val());}else{return false;}">
  <input type="text" id="genre-query" placeholder="genres"
	class="input-medium search-query">
  <button type="submit" class="btn">go</button>
  <a href="/popular" class="pull-right">popular</a>
</form>
<form class="form-search" method="get" action=""
	onsubmit="if($('#user-query').val().length>0){$(this).attr('action','/apps/'+$('#user-query').val());}else{return false;}">
  <input type="text" id="user-query" placeholder="developer"
	class="input-medium search-query">
  <button type="submit" class="btn">go</button>
</form>
<%
	for(var i=0; i<items.length; i++) 
	{ 
	
		if(i==col1 || i==col2)
		{
%>
		</div>
		<div class="span4">
<%
		}
%>

<div class="well item_template<%=( 
	+new Date(items[i].end_date)<now ? " expired" : ""
	)%>" data-id="<%=items[i]._id%>">
	<div class="row-fluid">
	<div class="span8">
		<h4><%=( typeof( items[i].sum ) != "undefined"
					? "("+ items[i].sum +")"
					: ""
			)%>
			<%=items[i].title%></h4>
	</div>
	<div class="span4">
		<img src="<%=items[i].image%>" class="pull-right"/>
	</div>
	</div>
	<br />
	
	<%  for(g=0; g<items[i].genre.length; g++) { %>
		
		<a class="tag"
			href="/genre/<%=encodeURIComponent(items[i].genre[g])%>"><%=items[i].genre[g]%></a>
		
	<% 	} %>
</div>

<% } %>
</div>
</div>
