<%var items;items=items||[]%>

<% if(title) { %>

<h1><%=title%></h1>

<% } %>

<br />

<% if(items.length==0) { %>
	
	<h2>no apps!</h2>
	
<% } %>



<% 	var g=0, 
		col1 = Math.floor(items.length/3)+1
		col2 = col1*2 -1;
%>

<div class="row-fluid">
<div class="span4">
<%
	for(var i=0; i<items.length; i++) 
	{ 
	
		if(i==col1 || i==col2)
		{
%>
		</div>
		<div class="span4">
<%
		}
%>

<div class="well item_template" data-id="<%=items[i]._id%>">
	<div class="row-fluid">
	<div class="span8">
		<h4><%=items[i].title%></h4>
	</div>
	<div class="span4">
		<img src="<%=items[i].image%>" class="pull-right"/>
	</div>
	</div>
	<br />
	
	<%  for(g=0; g<items[i].genre.length; g++) { %>
		
		<a class="tag"
			href="/genre/<%=encodeURIComponent(items[i].genre[g])%>"><%=items[i].genre[g]%></a>
		
	<% 	} %>
</div>

<% } %>
</div>
</div>
